<div class="main">
<div class="grid-header">
    <div class="header"><app-header></app-header></div>
</div>
<div class="grid-container">
    <div class="menu"><app-menu></app-menu></div>
    <div class="noticias"><app-noticias></app-noticias></div>
    <div class="destaque"><app-destaque></app-destaque></div>
</div>
<div class="grid-container2">
    <div class="servicos"><app-servicos></app-servicos></div>
    <div class="resultados"><app-resultados></app-resultados></div>
</div>
<div class="grid-footer">
    <div class="footer"><app-footer></app-footer></div>
</div>
</div>