* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(36, 39, 43);
}

h2 {
  color: rgb(91, 98, 107);
}

p {
  font-family: 'Oswald', sans-serif;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c26ddc95;
  padding: 1.875rem;
}

header img {
  width: 5.625rem;
}

main {
  margin-top: 1.875rem;
}

.container1{
  display: grid;
  grid-template-columns: 2fr 2.41fr 0.5fr;
  gap: 1rem;
  width: 1175px;
  margin: 0 auto;
  margin-bottom: 1rem;
}


.container2 {
  display: grid;
  grid-template-columns: 2fr 3.064fr;
  gap: 1rem;
  width: 1175px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

