* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(36, 39, 43);
}

h2 {
  color: rgb(91, 98, 107);
}

p {
  font-family: 'Oswald', sans-serif;
}

